
name: Publish
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
    
      - uses: actions/setup-node@v5

      - name: Build
        run: npm install && npm run build

      - name: Deploy
        run: |
          git fetch
          git branch -D gh-pages || true
          git checkout -b gh-pages

          shopt -s extglob
          rm -r !(dist|CNAME)
          rm -r .github/
          
          mv dist/* .
          rm -r dist/

          git add .
          git config user.name 'ZanSara'
          git config user.email 'github@zansara.dev'
          git commit -m 'deploy' || true
          git push -u origin gh-pages --force || true